@use "../../utils" as *;

/*----------------------------------------*/
/*  7.12 instagram css start
/*----------------------------------------*/

.footer-top {
  margin-top: 400px;
  @media #{$lg,$md} {
    margin-top: 170px;
  }
  @media #{$md} {
    margin-top: 0px;
  }
  @media #{$xs} {
    margin-top: 100px;
  }
}

.tp-instagram {

  &-area {
    display: flex;
    max-height: 800px;
    @media #{$xs} {
      display: none;
    }
    
    @media #{$md} {
      height: 70vh;
      align-items: center;
      max-height: 750px;
    }
    @media #{$ipadMini} {
      display: flex;
      height: 70vh;
      align-items: center;
      max-height: 750px;
    }
    @media #{$lg} {
      height: 60vh;
      align-items: center;
      max-height: 750px;
    }
    @media #{$xl} {
      height: 110vh;
      align-items: flex-end;
      max-height: 750px;
      padding-bottom: "10%";
    }

    @media #{$smL} {
      height: 120vh;
      align-items: center;
      display: flex;
      max-height: 750px;
    }
    @media #{$lgL} {
      align-items: center;
      height: 100vh;
      max-height: 750px;
    }
    @media #{$xxl,$xxxl, $xxxxl} {
      height: 100vh;
      align-items: center;
      max-height: 750px;
      padding-bottom: "5%";
    }
    
  }
  &-thumb {
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    & img {
      // height: 650%;
      // width: 650%;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
    }
    &-center-image{
      @media #{$md, $smL, $ipadMini}{
        height: 270px;
        width: 360px;

      }
      @media #{$lg} {
        width: 500px;
        height: 350px;
      }
      @media #{$xl, $xxl, $xxxl, $xxxxl} {
        width: 550px;
        height: 400px;
      }
      

    }
    &-wrap {
      display: inline-block;
      margin: 0 auto;

    }
    &-inner {
      &-1 {
            position: absolute;
            left: 8%;
            height: 120px;
            width: 180px;
            border-radius: "5px";
            overflow: "hidden";
            @media #{$smL, $md, $ipadMini} {
              top: -120px;
              height: 100px;
              width: 120px;
            }
        & img {
          height: 100%;
          width: 100%;
        }
      }
      &-2 {
        position: absolute;
        right: 0;
        height: 120px;
        width: 180px;
        border-radius: 5px;
        overflow: hidden;
        @media #{$smL, $md, $ipadMini} {
          top: -120px;
          height: 100px;
          width: 120px;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      &-3 {
        position: absolute;
        bottom: 0;
        height: 280px;
        width: 290px;
        border-radius: 5px;
        overflow: hidden;
        right: -320px;
        @media #{$smL, $md, $ipadMini} {
          right: -180px;
          height: 170px;
          width: 160px;
        }
        @media #{$lgL} {
          right: -250px;
          height: 240px;
          width: 250px;
        }
        @media #{$lgL} {
          right: -250px;
          height: 240px;
          width: 250px;
        }
        @media #{$lgL} {
          right: -250px;
          height: 240px;
          width: 250px;
        }
        
        @media #{$lg} {
          right: -250px;
          height: 230px;
          width: 240px;
        }
        
        
        
        & img {
          height: 100%;
          width: 100%;
        }
      }
      &-4 {
        position: absolute;
        bottom: -170px;
        overflow: hidden;
        border-radius: 5px;
        width: 150px;
        height: 120px;
        @media #{$smL, $md, $ipadMini} {
          bottom: -140px;
          right: -170px;
        }
        & img {
          width: 100%;
          height: 100%;
        }
      }
      &-5 {
        position: absolute;
        right: 0;
        height: 70px;
        width: 70px;
        border-radius: 5px;
        overflow: hidden;
        @media #{$smL, $md} {
          bottom: -90px;
        }
        & img {
          height: 100%;
width: 100%;
        }
      }
      &-6 {
        position: absolute;
        bottom: 0;
        left: -100px;
        height: 70px;
        width: 70px;
        border-radius: 5px;
        overflow: hidden;
        & img {
          height: 100%;
          width: 100%;
        }
      }
      &-7 {
        position: absolute;
        left: -330px;
        top: 20px;
        height: 250px;
        width: 260px;
        border-radius: 5px;
        @media #{$smL, $md, $ipadMini} {
          left: -180px;
          width: 150px;
          height: 150px;
        }
        @media #{$lgL} {
          height: 215px;
            width: 215px;
            left: -245px;
            top: 70px;
        }
        @media #{$lg} {
          height: 200px;
            width: 200px;
            left: -215px;
            top: 70px;
        }
        & img {
          border-radius: 10px;
        }
      }
      &-8 {
        position: absolute;
        top: 7%;
        right: -25%;
        & a {
          height: 96px;
          width: 96px;
          font-size: 24px;
          line-height: 96px;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          color: var(--tp-common-white);
          background-color: var(--tp-common-black);
        }
      }
    }
  }
  &-subtitle {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: var(--tp-common-black);
  }
  &-title {
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2.4px;
    color: var(--tp-common-black);
    margin-bottom: 30px;
    @media #{$xs} {
      font-size: 50px;
    }
  }
  &-content-wrap {
    position: absolute;
    bottom: -340px;
    left: -150px;
    @media #{$lg,$md} {
      left: 60px;
    }
    @media #{$xs} {
      position: static;
      margin-top: 40px;
      margin-left: 20px;
    }
  }
  &-content {
    padding-left: 100px;
    & p {
      color: #5d5d63;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
}

.tp_text_invert > div {
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
}
